.field{
    margin-bottom: 20px;
}
.field label {
    display: block;
    margin: 0 0 5px 0;
    color:rgb(135, 127, 118);
    font-weight: 700;
    font-size: 20px;
}
.field input{
    background-color: white;
    outline: 0;
    font-size: 20px;
    padding: 10px 15px ;
    border: 1px solid rgb(rgb(136, 117, 117)) ;
    color:rgb(135, 127, 118);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}